<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   xmlns:tools="http://schemas.android.com/tools"
    package="bsl.co.kejunior">

    <supports-screens
        android:resizeable="true"
        android:smallScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:normalScreens="true"
        android:anyDensity="true"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">

        <activity
            android:name=".ui.importActiviry"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.marketActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".ui.logout"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".ui.sellersActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />


        <activity
            android:name=".ui.exportActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />


        <activity
            android:name=".ui.aggregatorActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.providerActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.demandActivit"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.countyproductsActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
        android:name=".ui.seasonActivity"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.categoryActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.BuyersActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.profileActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.countryActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".ui.produtAtivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".ui.formativity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.ProductsClassActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>